{{#each products}}
<div class="product-breadcroumb">
    <a href="">Quản lý</a>
    <a href="">Cập nhật Sản phẩm</a>
    <a href="">{{name}}</a>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="product-images">
            <div class="product-main-img">
                <img src="/img/{{this.picture}}.jpg" alt="">
            </div>
            <button type="button">upload ảnh khác</button>
            <h3 style="margin-top:20px;">Cấu hình: </h3>
            <select>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="product-inner">
            <h3>Tên sản phẩm:</h3>
            <input type="text" class="product-name form-control" value="{{name}}"/>
            <div class="product-inner-price">
                <h3>Gía:</h3>
                <input type="number" class="form-control" value="{{price}}" style="width:100px; font-size:20px; display: inline;"/><p style="display: inline; font-size:20px; margin-left: 10px;">$</p>
            </div>
            <div>
                <h3>Số lượng tồn:</h3>
                <input type="number" class="product-inware form-control" value="{{inware}}" style="width:100px; font-size:20px;"/>
            </div>
            <h3 style="margin-top:20px;">Mô tả sản phẩm:</h3>
            <h4 id="product-config">Cấu hình:</h4>
            <textarea cols="100" rows="5" class="description-info form-control" >{{configInfo}}</textarea>
            <h4 id="product-config" style="margin-top:20px;">Thiết kế:</h4>
            <textarea cols="100" rows="5" class="description-design form-control" >{{designInfo}}</textarea>
            <h4 id="product-config" style="margin-top:20px;">Bàn phím và touchpad:</h4>
            <textarea cols="100" rows="5" class="description-kbtp form-control" >{{KeyboardAndTouchpad}}</textarea>
            <h4 id="product-config" style="margin-top:20px;">Cổng giao tiếp:</h4>
            <textarea cols="100" rows="5" class="description-port form-control" >{{portInfo}}</textarea>
        </div>
    </div>
</div>
{{/each}}