<h3>Cấu hình cơ bản</h3>
<div id="content_features">
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            CPU
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Công nghệ CPU:</span>
            <div class="ty-product-feature__value">{{cpuName}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại CPU - Tốc Độ:</span>
            <div class="ty-product-feature__value">{{cpuType}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Bộ nhớ đệm:</span>
            <div class="ty-product-feature__value">{{cache}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            RAM
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Dung lượng RAM:</span>
            <div class="ty-product-feature__value">{{ramSize}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại RAM:</span>
            <div class="ty-product-feature__value">{{ramType}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Tốc độ BUS</span>
            <div class="ty-product-feature__value">{{busSpeed}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Đĩa cứng
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Dung lượng ổ đĩa:</span>
            <div class="ty-product-feature__value">{{diskSize}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại ổ đĩa:</span>
            <div class="ty-product-feature__value">{{diskType}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Vòng quay</span>
            <div class="ty-product-feature__value">{{diskRound}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Màn hình
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Công nghệ màn hình:</span>
            <div class="ty-product-feature__value">{{monitorTech}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Kích thước màn hình:</span>
            <div class="ty-product-feature__value">{{monitorSize}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Độ phân giải</span>
            <div class="ty-product-feature__value">{{monitorResolution}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Card đồ họa
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label"> Bộ nhớ đồ họa:</span>
            <div class="ty-product-feature__value">{{sizeGraphic}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Chipset đồ họa:</span>
            <div class="ty-product-feature__value">{{chipset}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Giao tiếp
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label"> Kết nối mạng:</span>
            <div class="ty-product-feature__value">{{networkConnection}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Bluetooth:</span>
            <div class="ty-product-feature__value">{{bluetooth}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">HDMI:</span>
            <div class="ty-product-feature__value">{{hdmi}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Reader:</span>
            <div class="ty-product-feature__value">{{cardReader}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">USB:</span>
            <div class="ty-product-feature__value">
                <p>{{usb}}</p>
            </div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Video Port:</span>
            <div class="ty-product-feature__value">{{videoPort}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">LAN:</span>
            <div class="ty-product-feature__value">Lan</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Headphone/Speaker out:</span>
            <div class="ty-product-feature__value">{{speaker}}</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Xuất xứ - Nhà sản xuất
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Xuất xứ:</span>
            <div class="ty-product-feature__value">{{madein}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Nhà sản xuất:</span>
            <div class="ty-product-feature__value">{{manufacturer}}</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại hàng</span>
            <div class="ty-product-feature__value">{{typeProduct}}</div>
        </div>
    </div>
</div>