 {{#if info}}
 <table cellspacing="0" class="shop_table cart">
    <thead>
        <tr>
            <th class="product-remove">&nbsp;</th>
            <th class="product-thumbnail">&nbsp;</th>
            <th class="product-name">Sản phẩm</th>
            <th class="product-price">Giá</th>
            <th class="product-quantity">Số lượng</th>
            <th class="product-subtotal">Tổng tiền</th>
        </tr>
    </thead>
    <tbody  id="cart_table">
        {{#each info}}
        <tr class="cart_item">
            <td class="product-remove">
                <a title="Remove this item" class="remove" href="/cart/remove?id={{this.id}}&money={{multiple this.price this.count}}">×</a>
            </td>

            <td class="product-thumbnail">
                <a href='/product?id={{this.id}}'>
                    <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="img/{{this.picture}}.jpg">
                </a>
            </td>

            <td class="product-name">
                <a href='/product?id={{this.id}}'>{{this.name}}</a>
            </td>

            <td class="product-price">
                <span class="amount" money='{{this.price}}'>{{this.price}} $</span>
            </td>

            <td class="product-quantity">
                <div class="quantity buttons_added">
                    <a href="/cart/subtract?id={{this.id}}&count={{this.count}}&price={{this.price}}"><input type="button" class="minus" value="-"></a>
                    <input type="text" size="4" class="input-text qty text" title="Qty" value="{{this.count}}" min="0" step="1">
                    <a href="/cart/add?id={{this.id}}&count={{this.count}}&price={{this.price}}"><input type="button" class="plus" value="+"></a>
                </div>
            </td>

            <td class="product-subtotal">
                <span class="amount_count" money='{{multiple this.price this.count}}'> {{multiple this.price this.count}} $</span>
            </td>
        </tr>
        {{/each}} 
    </tbody>
</table>
{{else}}
<h2 style="margin-bottom: 5%; text-align: center">Không có giỏ hàng</h2>
   {{/if}}
