 {{#if noCart}}
<h1 style="margin-bottom: 3%; text-align: center">Không có giỏ hàng</h1>
{{else}}
<table cellspacing="0" class="shop_table cart">
    <thead>
        <tr>
            <th class="product-remove">&nbsp;</th>
            <th class="product-thumbnail">&nbsp;</th>
            <th class="product-name">Sản phẩm</th>
            <th class="product-price">Giá</th>
            <th class="product-quantity">Số lượng</th>
            <th class="product-subtotal">Tổng tiền</th>
        </tr>
    </thead>
    <tbody  id="cart_table">
        {{#each info}}
        <tr class="cart_item">
            <td class="product-remove">
                <a title="Remove this item" class="remove">×</a>
            </td>

            <td class="product-thumbnail">
                <a href='/product?id={{this.id}}'>
                    <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="img/{{this.picture}}.jpg">
                </a>
            </td>

            <td class="product-name">
                <a href='/product?id={{this.id}}'>{{this.name}}</a>
            </td>

            <td class="product-price">
                <span class="amount" money='{{this.price}}'>{{this.price}} $</span>
            </td>

            <td class="product-quantity">
                <div class="quantity buttons_added">
                    <input type="button" class="minus" value="-">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="{{this.count}}" min="0" step="1">
                    <input type="button" class="plus" value="+">
                </div>
            </td>

            <td class="product-subtotal">
                <span class="amount_count" money='{{multiple this.price this.count}}'> {{multiple this.price this.count}} $</span>
            </td>
        </tr>
        {{/each}} {{/if}}
    </tbody>
</table>
<script>
    // Click button - in cart
    $('.minus').bind('click', function () {
        let count = $(this).closest('.cart_item').find('.qty').val();
        let amount = $(this).closest('.cart_item').find('.amount').attr('money');
        if (count > 1) {
            count--;
           $(this).closest('.cart_item').find('.qty').val(count);
            let money = +count * +amount;
            $(this).closest('.cart_item').find('.amount_count').attr('money', money);
            $(this).closest('.cart_item').find('.amount_count').text(money + ' $');
        }
    });

    //Click button + in cart
    $('.plus').bind('click', function () {
        let count = $(this).closest('.cart_item').find('.qty').val();
        let amount = $(this).closest('.cart_item').find('.amount').attr('money');
        count++;
        $(this).closest('.cart_item').find('.qty').val(count);
        let money = +count * +amount;
        $(this).closest('.cart_item').find('.amount_count').attr('money', money);
        $(this).closest('.cart_item').find('.amount_count').text(money + ' $');
    });

        //Click button x in cart
    $('.remove').bind('click', function () {
        let parent = $(this).parent().parent();
        parent.remove();
    });
</script>