{{#each productsList}}
<div class='col-md-3 col-sm-6'>
    <div class='single-shop-product'>
        <div class='product-upper'>
            <img src="/img/{{this.picture}}.jpg" />
        </div>
        <h2>
            <a href='/product?id={{this.id}}' class='product-link'>{{this.name}}</a>
        </h2>
        <div class='product-carousel-price'>
            <del>{{this.price}}$</del>
            <ins>{{this.price}}$</ins>
        </div>
        <div class='product-option-shop'>
            <a class='near-bottom' data-quantity='1' data-product_sku='' data-product_id='70' rel='nofollow' href='./cart.html'>Add to cart</a>
        </div>
    </div>
</div>
{{/each}}