<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="latest-product">
                <h3 class="section-title" style="font-size: 40px">Sản phẩm xem nhiều</h3>
                <div class="product-carousel">
                    {{#each ListMostView}}
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="img/{{picture}}.jpg" alt="">
                            <div class="product-hover">
                                <a href="/cart/choose?id={{id}}&price={{price}}" class="add-to-cart-link">
                                    <i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                <a href="/product?id={{id}}" class="view-details-link">
                                    <i class="fa fa-link"></i> Chi tiết</a>
                            </div>
                        </div>

                        <h2>
                            <a href="/product?id={{id}}">{{name}}</a>
                        </h2>

                        <div class="product-carousel-price">
                            <ins>${{price}}</ins>
                        </div>
                        <i>Ngày nhận: {{datetime ngaydang}}
                            <br> {{viewTimes}} lượt xem
                            <br> Đã bán: {{buyTimes}}</i>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>