  <div class="content-profile" style="margin: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                        <div class="profiles">
                            <p class="image"><img src="/img/avatar.jpg" height="100" width="100" alt=""></p>
                            <p class="control-label">Tài khoản của</p>
                            <h6>{{user.username}}</h6>
                        </div>
                        <div class="nav navbar-nav">
                            
                            <li class="active">
                                <a href="/profile"><i class="fa fa-user"></i> <span>Thông tin tài khoản</span></a>
                            </li>
                            <li class="">
                                <a href="/history_user"> <i class="fa fa-book"></i> <span>Quản lý đơn hàng</span></a>
                            </li>
                            
                        </div>
                    </div>
                <div class="col-md-8">
                    <form class="form-horizontal col-md-8"> 
                        <fieldset>
                            <legend>Thông tin tài khoản</legend>
                            {{#if success_msg}}
                                <div class="alert alert-success">{{success_msg}}</div>
                            {{else}}
                                {{> checkErrors}}
                            {{/if}}
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_FullName">Họ tên</label>  
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input id="txt_FullName" name="fullName" type="text" placeholder="Họ tên" class="form-control input-md" disabled value="{{user.name}}">
                                        </div>
                                </div>
                            </div>
            
                            <!-- File Button --> 
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_UploadPhoto">Tải ảnh lên</label>
                                <div class="col-md-6">
                                    <input id="Upload_photo" name="upload_photo" class="" type="file">
                                </div>
                            </div>
            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_DateOfBirth">Ngày sinh</label>  
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-birthday-cake"></i>
                                        </div>
                                        <input id="txt_Date_Of_Birth" name="date_Of_Birth" type="date" placeholder="Nhập ngày sinh" class="form-control input-md" value="{{user.birthday}}" disabled>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Multiple Radios (inline) -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_Gender">Giới tính</label>
                                <div class="col-md-6"> 
                                    {{#if isMan}}
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="Gender_Male" value="1" checked="checked" disabled>
                                            Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="Gender_Female" value="2" disabled>
                                            Nữ
                                        </label>
                                    {{else}}
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="Gender_Male" value="1" disabled>
                                            Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="Gender_Female" value="2" checked="checked" disabled>
                                            Nữ
                                        </label>
                                    {{/if}}
                                </div>
                            </div>
            
                            <div class="form-group">
                                <label class="col-md-3 control-label col-xs-12" for="lbl_Address">Địa chỉ</label>  
                                <div class="col-md-9  col-xs-12">
                                    <input id="txt_Address" name="address" type="text" placeholder="Nhập địa chỉ" class="form-control input-md" value="{{user.address}}" disabled>
                                </div>
                            </div>
            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_Phone">Số điện thoại</label>  
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <input id="txt_Phone" name="phone" type="text" placeholder="Số điện thoại" class="form-control input-md" value="{{user.phone}}" disabled>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lbl_Email">Email</label>  
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <input id="txt_Email" name="email" type="text" placeholder="Email" class="form-control input-md" value="{{user.email}}" disabled>
                                    </div>
                                </div>          
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" ></label>  
                                <div class="col-md-6">
                                    <a href='/profile/update'>
                                        <button type='button' class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span>Cập nhật</button>
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                </div>
            </div>
        </div>
    </div>
